- var nodePath = '/node_modules'
- var bsPath = '/node_modules/bootstrap-styl/js'

// build:js({./,src}) ./assets/js/all.min.js
script(src='#{nodePath}/jquery/dist/jquery.js')
//- script(src='#{bsPath}/affix.js')
//- script(src='#{bsPath}/alert.js')
//- script(src='#{bsPath}/button.js')
//- script(src='#{bsPath}/carousel.js')
//- script(src='#{bsPath}/collapse.js')
//- script(src='#{bsPath}/dropdown.js')
//- script(src='#{bsPath}/modal.js')
//- script(src='#{bsPath}/scrollspy.js')
//- script(src='#{bsPath}/tab.js')
//- script(src='#{bsPath}/tooltip.js')
//- script(src='#{bsPath}/transition.js')
//- script(src='#{bsPath}/popover.js')
script(src='#{nodePath}/jquery-match-height/jquery.matchHeight-min.js')
script(src='./scripts/init.js')
// endbuild